<div class="button-container">
  <%= link_to 'Logout', logout_path, class: 'nav-button' %>
  <%= link_to 'Servers', servers_path, class: 'nav-button' %>
  <%= link_to 'Shop', shop_path, class: 'nav-button' %>
  <%= link_to 'Game', game_path, class: 'nav-button' %>
</div>