
<<<<<<< HEAD
<div class="form-container">
<h1>Shards of the Grid</h1>
  <div class ="log-reg-container">
    <%= link_to 'Login', login_path, class: 'log-reg-buttons' %>
    <%= link_to 'Register', register_path, class: 'log-reg-buttons' %>
  </div>
</div>
=======
<%= link_to 'Login', login_path, class: 'btn' %>
<%= link_to 'Register', register_path, class: 'btn' %>
>>>>>>> main
