<div class="game-container" style="font-family: 'Arial', sans-serif">
  <%= render 'shop' %>
  <%= render 'main' %>
  <%= render 'chat' %>
</div>

<script>
    setTimeout(() => {
        // Code to be executed after the delay
        console.log("Loading");
    }, 2000); // 2000 milliseconds (2 seconds) delay

</script>
